@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


header {
	color: black;
	background-color: white;
	padding: 20px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;
}

li {
	display: inline;
	margin: 0 20px 0 0;
}

#canvas {
	background-color: green;
	Leftmargin: 0;
	border: thin inset #aaaaaa;
}

input {
  background-color:transparent;
  outline: none;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 16px;
  padding: 4px 0px 4px 14px;
  border: none;
  width: 90%;
}


input::placeholder {
  color: #a5a5a5;
}

div.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  overflow: hidden;
  margin: 0 0 0 5%;

  background-color: #FFFFFF;
  border-radius: 100px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
	background-color: #70C043;
	padding: 12px;
	font-family: 'Do Hyeon', sans-serif;
}

button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  width: 10%;

  font-size: 16px;
  color: #000;
  padding: 8px 10px;
  border: none;
  border-radius: 0px;

  transition: background-color 0.2s;
}

button:hover {
  background-color: #dfdfdf;
}

div {
	font-family: 'Do Hyeon', sans-serif;
}

section>div {
	background-color: beige;
	margin: auto;
	width: 80%;
	height: 150px;
	padding: 35px;
	font-family: 'Do Hyeon', sans-serif;
}