@charset "EUC-KR";

@import
	url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

h2 {
	font-family: 'Do Hyeon', sans-serif;
	font-size:50px;
	margin: 0 0 0 10%;
}

div.list {
	text-align:center;
	margin: 50px 0 50px 0;
}

#description {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 15px;
	display: flex;
	flex-direction:row-reverse;
	margin: 0 20% 0 0;
}