@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{
  text-decoration: none;
  color: black;
  list-style: none;
}

div.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  overflow: hidden;
  margin: 0 0 0 5%;

  background-color: #FFFFFF;
  border-radius: 100px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

header {
	color: black;
	background-color: white;
	padding: 20px;
}

table{
  border-bottom: 2px solid lightgreen;
  border-collapse: collapse;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  padding: 0px;
  text-decoration: none;
}

table th{
  border-bottom: 2px solid lightgreen;
  padding-bottom: 20px;
  text-align: left;
}

table th:first-child{
  padding-left: 40px;
}

th, td{
  font-family: 'Do Hyeon', sans-serif;
}

td{
  padding: 40px 7px;
}

footer {
	background-color: white;
	padding: 20px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;
}

li {
	display: inline;
	margin: 0 20px 0 0;
}

#search {
	border-style: dotted;
	border-width: 2px;
	padding: 5px;
	margin: 0;
	display: flex;
	flex-direction: row-reverse;
}

#canvas_section {
	display: block;
}

#canvas {
	margin: 10px;
	padding: 10px;
	background: cornsilk;
	border: thin inset #aaaaaa;
}

input {
  background-color:transparent;
  outline: none;

  font-family: 'Do Hyeon', sans-serif;
  font-size: 16px;
  padding: 4px 0px 4px 14px;
  border: none;
  width: 90%;
}

input::placeholder {
  color: #a5a5a5;
}

button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  width: 10%;

  font-size: 16px;
  color: #000;
  padding: 8px 10px;
  border: none;
  border-radius: 0px;

  transition: background-color 0.2s;
}

button:hover {
  background-color: #dfdfdf;
}
